<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="listeners.ScreenshotListener" />					
	</listeners>

	<test thread-count="5" name="chromeTest">
		<parameter name="browser" value="chrome" />

		<classes>
			<class name="testcases.login.LoginTest" />
			<class name="testcases.login.BranchListingTest" />
			<class name="testcases.customer.dedupe.DedupeTest" />
			<class name="testcases.customer.creation.KYCTest" />
			<class name="testcases.customer.creation.PersonalInformationTest" />
			<class name="testcases.customer.creation.EmploymentTest" />
			<class name="testcases.customer.creation.OccupationTest" />
			<class name="testcases.customer.creation.NomineeTest" />
			<class name="testcases.customer.creation.RMTest" />
			<class name="testcases.customer.creation.BankInformationTest" />
			<class name="testcases.customer.creation.SendotpTest" />
			


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
